.container {
  text-align: center;
}

h1 {
  color:white;
  padding-bottom: 9em;
  font-family: Avenir Next;
  font-size: 3em;
}

.btn-danger {
  color: black;
}

#result {
  color:white;
  font-family: Avenir Next;
  font-size: 1.75em;
}
